/* src/Contact.css */
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f1faee;
    min-height: 100vh;
}

.imageLib__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}