/* src/EmailForm.css */
.email-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    color: #4281A4;
}

.email-form h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.email-form form {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.email-form input,
.email-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1.4rem;
}

.email-form textarea {
    min-height: 400px;
    resize: vertical;
    font-size: 1.0rem;
}

.email-form button {
    padding: 0.5rem 1rem;
    background-color: #FE938C;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.email-form button:hover {
    background-color: #E6B89C;
}

.popup-message {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #e7dfdf;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.close-button {
    display: inline-block;
    background-color: #FE938C;
    padding: 5px 10px;
    margin-left: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 1.4rem;
}

.close-button button:hover {
    background-color: #E6B89C;
}