/* src/Menu.css */
.menu {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(-100%);
}

.menu.visible {
    opacity: 1;
    transform: translateY(0);
}

.menu a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;

    color: #4281A4;

}

.menu a:hover {
    background-color: #FE938C;
    color: #fff;
}

.menu a:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4);
}