/* src/Projects.css */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.projects {
    padding: 2rem;
    background-color: #f1faee;
    padding-left: 10%;
    padding-right: 10%;
}

.projects h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #4281A4;
    font-size: 3rem;
}

.projects h2:after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 50px;
    background-color: #4281A4;
    /* Use the color from your color palette */
}

.project-grid {
    display: grid;
    padding-top: 2rem;

    /* Change from flex to grid */
    grid-template-columns: repeat(4, 1fr);
    /* Define 3 columns */
    gap: 1rem;
    justify-items: center;
    /* Add this property to center the items */
}

.project-thumb {
    height: 320px;
    width: 300px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #FE938C;

}

.project-thumb.no-hover-media:hover img {
    opacity: 1;
}

.project-thumb img {
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
    transition: opacity 0.3s;
    overflow: hidden;
    object-fit: cover;
}

.project-thumb:hover img {
    opacity: 0;
    /* Add this rule to hide the image when hovering */
}

.project-thumb h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.project-thumb video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-thumb:hover video {
    opacity: 1;
}

.project-thumb:hover {
    transform: scale(1.05);
}

.project-thumb:hover video {
    opacity: 1;
}

.project-thumb.visible {
    animation: fadeIn 1s;
}

@media only screen and (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects h2 {
        font-size: 2rem;
    }

    .project-thumb {
        height: 200px;
        width: 200px;
    }

    .project-thumb h3 {
        font-size: 1rem;
    }
}