/* src/Start.css */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: filter 2s;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

.overlay img {
    max-width: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.overlay h1 {
    margin-bottom: 0.2rem;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.overlay h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 1.8rem;
    font-weight: normal;
}

.contact-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #FE938C;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

.contact-btn:hover {
    background-color: #E6B89C;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.blurred {
    filter: blur(5px) brightness(0.7);
}

/* Media query for smartphone screens */
@media (max-width: 768px) {
    .overlay {
        width: 90%;
        text-align: center;
    }

    .overlay img {
        max-width: 150px;
    }

    .overlay h1 {
        font-size: 1.8rem;
    }

    .overlay h2 {
        font-size: 1.2rem;
    }

    .contact-btn {
        font-size: 1.5rem;
    }
}