.timeline {
    padding: 2rem;
    position: relative;
    background-color: #ffffff;

}

.timeline h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #4281A4;
    font-size: 3rem;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    ;
}

.timeline-line {
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #4281A4;
    z-index: 0;
}

.timeline-start-dot,
.timeline-end-dot {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #4281A4;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.timeline-start-dot {
    top: 0;
}

.timeline-end-dot {
    bottom: 0;
}

.timeline-left,
.timeline-line,
.timeline-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-left,
.timeline-right {
    flex: 1;
}

.timeline-left .timeline-item {
    padding-right: 0.5rem;
    position: relative;
}

.timeline-right .timeline-item {
    padding-left: 0.5rem;
    position: relative;
}

.timeline-item {
    position: relative;
    display: flex;
    width: 75%;
    padding: 1.0rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-bottom: 2rem;
    height: 260px;
    /* Add this line */
}

.timeline-item.visible {
    visibility: visible;
    opacity: 1;
}

.timeline-dot {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #4281A4;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    left: 0;
    /* Change this line */
    transform: none;
    /* Change this line */
    top: 0;
}

.timeline-left .timeline-dot {
    right: -5%;
    left: auto;
    top: 5%;
    transform: none;
}

.timeline-right .timeline-dot {
    left: -5%;
    top: 5%;
    transform: none;
}

.timeline-content {
    display: flex;
    align-items: center;
    background-color: #EAD2AC;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin-top: 8px;
    width: 100%;
}

.timeline-content img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #4281A4;
    margin-right: 1rem;
}

.timeline-text {
    margin-right: 5%;
    margin-left: 5%;
}

.timeline-text h3 {
    margin: 0;
    margin-bottom: 0.8rem;
    color: #4281A4;
    font-size: 1.8rem;
}

.timeline-text h4,
.timeline-text h5 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: #4281A4;
    font-size: 1.0rem;
}

.timeline-text ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.timeline-text li {
    margin-bottom: 0.5rem;
    color: #000000;
    font-size: 1.0rem;
}


@media only screen and (max-width: 768px) {
    .timeline-container {
        flex-direction: column;
    }

    .timeline-text {
        margin-right: 2%;
        margin-left: 2%;
    }

    .timeline-text h3 {
        font-size: 1.0rem;
    }

    .timeline-text h4,
    .timeline-text h5 {
        font-size: 0.8rem;
    }

    .timeline-text li {
        margin-bottom: 0.5rem;
        font-size: 0.7rem;
    }

    .timeline-content img {
        width: 70px;
        height: 70px;
    }

    .timeline-left,
    .timeline-right {
        align-items: center;
    }

    .timeline-line {
        display: none;
    }

    .timeline-left .timeline-item,
    .timeline-right .timeline-item {
        width: 100%;
    }

    .timeline-left .timeline-dot,
    .timeline-right .timeline-dot {
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-left .timeline-item .timeline-content,
    .timeline-right .timeline-item .timeline-content {
        margin-left: 0;
        margin-right: 0;
    }
}